body {
    background-color:rgb(153, 178, 219);
}

img {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: groove;
    border-color:silver;
    border-width: 10px;
}

h1 {
    font-size: 50px;
    color: white;
    background-color: black
}

h2 {
    font-size: 55px;
    color: rgb(255, 204, 255);
    text-align: center;
    background-color: black;
    padding: 15px;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: Lucida, sans-serif;
    font-style: italic;
    padding: 10px;
}

h3 {
    font-size: 45px;
    color: rgb(255, 204, 255);
    text-align: center;
    font-family: Lucida, sans-serif;
    padding-top: 10px;
    margin-top: 10px;
}

ol {
    text-align: center;
    font-size: 30px;
    font-family: Lucida, sans-serif;
    font-style: italic;
    padding: 10px;
}

ul {
    text-align: center;
    font-size: 30px;
    font-family: Lucida, sans-serif;
    font-style: italic;
    padding: 10px;
}

li {
    text-align: left;
    font-size: 30px;
    font-family: Lucida, sans-serif;
    font-style: italic;
    padding: 10px;
}
